.card__title-edit {
    display: flex;
    flex-direction: row;
    min-width: 216px;
    max-width: 576px;
    margin: 0;
}

@media screen and (max-width: 630px) {
    .card__title-edit {
        min-width: 42px;
        margin-left: 26px;
    }
}