.popup__close-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 0;
    transition: .5s ease-in-out;
    background: transparent;
    border: 0;
    top: -40px;
    right: -40px;
    position: absolute;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media screen and (max-width: 530px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}