.form__input-error_active {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
    color: red;
    display: flex;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (max-width: 530px) {
    .form__input-error_active {
        margin-left: 22px;
    }
}