.card__edit-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    padding: 0;
    transition: .5s ease-in-out;
    border: 1px solid white;
    margin: 36px 10px auto 18px;
    background-image: url(../../../images/Edit-Button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.card__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 899px) {
    .card__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 18px;
        margin-top: 28px;
        background-size: 7.5px 7.5px;
    }
}

@media screen and (max-width: 630px) {
    .card__edit-button {
        margin: auto 0;
        margin-left: 10px;
        margin-top: 34px;
        margin-right: auto;
    }
}