.card__profile-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

@media screen and (max-width: 899px) {
    .card__profile-info {
        margin: 0 auto 0 30px;
    }
}

@media screen and (max-width: 630px) {
    .card__profile-info {
        margin: 0 auto;
        max-width: 282px;
    }
}