.popup__label {
    margin: 29px auto 0;
    width: 358px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    display: block;
    border: white;
    outline: none;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.popup__label:last-of-type {
    margin: 17px 36px 51px;
}

@media screen and (max-width: 530px) {
    .popup__label {
        margin: 59px 22px 0;
        width: 238px;
    }

    .popup__label:last-of-type {
        margin: 17px 22px 45px;
    }
}